In [1]:
import pandas as pd
import numpy as np
filepath = 'ddf-data.csv'
##此处提前在源数据文件中把exp_c1,exp_c2列提到了第三和第四列，并在第五列添加了空白列'exp'用于求和
data = pd.read_csv('ddf-data.csv',usecols=[1,2,3,4])
df = pd.DataFrame(data)
sum_column = df["exp_c1"] + df["exp_c2"]
df["exp"] = sum_column
duplicate_row = df.duplicated(subset=['city_of_airport'],keep=False) 
duplicate_data = df.loc[duplicate_row,:]
duplicate_data_sum = duplicate_data.groupby(by=['city_of_airport']).agg({'exp':sum}).reset_index(drop=True)
print(duplicate_data_sum.head(10))

         exp
0  200237.37
1  267677.22
2  422618.85
3   68608.84
4  300872.07
5  128343.81
6  142566.26
7  815672.33
8  323264.82
9   98415.83

In [2]:
import pandas as pd
import numpy as np
filepath = 'ddf-data.csv'
data = pd.read_csv('ddf-data.csv',usecols=[1])
df = pd.DataFrame(data)
df.drop_duplicates(subset=['city_of_airport'],inplace=True)
df.head(10)
#list(df["city_of_airport"].unique())

     city_of_airport
0              ABUJA
282            ACCRA
679      ADDIS ABABA
1928        ADELAIDE
2154       AHMEDABAD
2925         ALGIERS
3229          ALMATY
3464           AMMAN
4993       AMSTERDAM
6157         ARLANDA

In [3]:
"""
在这里由于matplotlib的basemap使用不便，可视化特定国家艰难，故使用了pyecharts，同时并没有搜到有去全球城市的包，ddf-data中存在100余个城市。
如果人力依次查询并改为国家，显然以完成实验目的来说是无用功，故本次实验中仅用了前10个城市对应国家。
ABUJA	尼日利亚	Nigeria
ACCRA	加纳	Ghana
ADDIS ABABA	埃塞俄比亚	Ethiopia
ADELAIDE	澳大利亚	Australia
AHMEDABAD	印度	India
ALGIERS	阿尔及利亚	Algeria
ALMATY	哈萨克斯坦	Kazakhstan
AMMAN	约旦	Jordan
AMSTERDAM	荷兰	Netherlands
ARLANDA	瑞典	Sweden
"""
from pyecharts import options as opts
from pyecharts.charts import Map
import random
alpha = [
['Nigeria', 200237.37],
['Ghana', 267677.22],
['Ethiopia', 422618.85],
['Australia', 68608.84],
['India', 300872.07],
['Algeria', 128343.81],
['Kazakhstan', 142566.26],
['Jordan', 815672.33],
['Netherlands',323264.82],
['Sweden', 98415.83]
]
def create_world_map():
    (   
        Map()
        .add(
            series_name="lab",
            data_pair=alpha,
            maptype="world",
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="lab"),
            visualmap_opts=opts.VisualMapOpts(max_=1000000, is_piecewise=False),
        )
        .set_series_opts(
            label_opts=opts.LabelOpts(is_show=False, color="blue")
        )
        .render("lab.html")
    )
create_world_map()
##去往项目同级目录下查看生成的html